# .gitignore file
.env
FirewallManagement/firewall_migration.log
DeviceControlExceptions/target_cids.csv
DeviceControlExceptions/combined_ids.csv
DeviceControlExceptions/usb_exceptions.log
DeviceControlExceptions/existingExceptions/
DeviceControlExceptions/SuperExistingExceptions/
DeviceControlExceptions/versioninfo.txt
DeviceControlExceptions/excluded_combined_ids.csv
DeviceControlExceptions/nonStandardCombinedIds.csv